body {
  background-image: url('images/girlguy3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.schedule {
  margin: auto;
  padding: 20px;
  width: 40vw;
  box-sizing: border-box;

  color: #E3E3E3;
  background-color: rgba(30, 30, 30, 0.85);

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .schedule {
    width: 70vw;
  }
}
@media (max-width: 480px) {
  body {
    background-position: -230px;
  }

  .schedule {
    width: 100vw;
  }

  img.header {
    width: 100% !important;
    background: rgba(30, 30, 30, 0.85);
  }
}

.schedule h1, .schedule h2 {
  text-align: center;
}

.schedule h1 {
  font-size: 3.2rem;
}

.schedule h2 {
  font-size: 2.3rem;
  margin-top: 60px;
}

.schedule .schedule-list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.schedule .schedule-list li {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.schedule .schedule-list li time {
  width: 130px;
  font-weight: 700;
  flex-shrink: 0;
}

.schedule .schedule-list li span {
  color: lightgrey;
}

.schedule img.spotify-logo {
  width: 120px;
  margin: 55px auto;
  display: block;
}

img.header {
  width: 90%;
  max-width: 440px;
  margin: auto;
  display: block;
}